doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel="stylesheet", href="style.scss")
        link(rel="stylesheet", href="input-range.scss")
    body
        div(class='container')
            div(class='head') Input range

            include inputRange.pug
        script(src="main.js")
            