div(class='input-range', id="inputRange")
    input(class='input-range_i js-irange-input', data-min='1', data-max='30')
    div(class='input-range-scale js-irange-scale')
        div(class='input-range-scale_cnt')
            span(class='input-range-scale_active js-irange-active') 
        div(class='input-range-scale_handle js-irange-handle')
    
            